<div class="card">
  <img
    src="<%- carro.imageprincipal.url %>"
    alt="Foto do <%- carro.nome %>"
    class="card__image"
  >

  <div class="card__descricao">
    <strong class="card__title"><%- carro.modelo %></strong>
    <strong class="card__subtitle"><%- carro.versao %></strong>

    <strong class="card__preco">
      <span>R$</span>
      <%- carro.preco %>,000
    </strong>
  </div>
  <button class="card__btn" type="button">
    <a href="#">Mais detalhes</a>
  </button>
</div>
